GOOGLE_CLIENT_ID= # get from https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET= # get from https://console.cloud.google.com/apis/credentials
SECRET_KEY= # random
OAUTH_REDIRECT_URI="http://localhost/auth/callback" # set for whatever host you're using
DEBUG="FALSE"

CERTBOT_EMAIL= # Just an email
DOMAIN=localhost # Should be the same as the oauth but without http:// or the /auth/callback
USE_LOCAL_CA=1 # should be 1 for testing, 0 for prod

APP_DATA_DIR=./ # Wherever this repo is cloned to, or wherever you want to store your stuff
CONFIG_PATH="config.yaml" # Or a url like https://github.com/IDEMSInternational/collaboratorium/blob/staging/config.yaml
